@import '../../styles/variables.scss';

.bio {
  margin-bottom: 24px;

  .author-description {
    display: flex;
    align-items: center;
  }

  .author-image {
    margin-right: 12px;
    margin-bottom: 0;
    min-width: 90px;
    min-height: 90px;
  }

  .author-name-prefix {
    font-size: 90%;
    margin-right: 4px;
  }

  .author-name-content {
    display: inline-block;
    font-size: 100%;
    padding: 2px 6px;
    font-weight: bolder;
    border-radius: 8px;
    transform-origin: center;
    animation: flutter 2s infinite linear;
  }

  .author-introduction {
    margin-top: 4px;
    font-size: 90%;
    line-height: 1.4;
  }

  .author-socials {
    margin-top: 4px;
  }

  a {
    margin-right: 8px;
    font-size: 90%;

    &.visited {
      text-decoration: none;
    }
  }
}

@-webkit-keyframes flutter {
  0% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  65% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes flutter {
  0% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  65% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
