@import '../../styles/variables.scss';

.thumbnail {
  display: block;
  margin-bottom: 12px;
  padding: 4px;
  padding-bottom: 12px;
  box-shadow: none;
  transition: text-shadow 0.3s, opacity 0.4s;
  opacity: 0;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  p {
    font-size: 90%;
    line-height: 1.4;
  }

  h3 {
    font-size: 1.2rem;
  }

  span {
    font-size: 80%;
  }
}

.thumbnail.visible {
  opacity: 1;
}
